/*
	Put anything you reference with "url()" in ../assets/
	This way, you can minify your application, and just remove the "source" folder for production
*/
.nice-padding {
	padding: 15px;
}

#app_Repeater span {
    padding: 5px;
    margin: 10px;
    border: 1px solid gray;
}

.group textPath {
    font-size: 10px;
}

.tab {
    padding: 20px;
    cursor: pointer;
    border: 1px solid white;
}

.tab.selected {
    background-color: black;
    border-color: black;
    color: white;
}

.tab:hover {
    border-color: black;
}
